CompileFlags:
  CompilationDatabase: >-
    c:\Users\denys\Desktop\GS-Praktikum\ITS-BRD-VSC\Programs\GSPAF1Tachenrechner\out\GSPAF1Tachenrechner\ITSboard\Debug
  Add:
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/../../stm32cubef4/Utilities/Fonts
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/../../DisplayWaveshare/Inc
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/tmp/GSPAF1Tachenrechner.Debug+ITSboard
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/RTE/_Debug_ITSboard
    - '-I/Users/maximzadoya/.cache/arm/packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include'
    - >-
      -I/Users/maximzadoya/.cache/arm/packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/../../ITS_BRD_LIB/Inc
    - >-
      -I/Users/maximzadoya/Desktop/gsItsBoard2/ITS-BRD-VSC/Programs/GSPAF1Tachenrechner/Inc
